* {
  border: none;
  border-radius: 0;
  font-family: SauceCodePro Nerd Font;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: #b9ddeb;
  color: #211c2f;
}

#mode, #workspaces button, #network, #bluetooth, #pulseaudio, #backlight, #battery, #clock {
  padding: 0 5px;
  margin: 0 5px;
}

#mode, #workspaces button, #clock {
  margin: 0;
  color: #211c2f;

}

#mode {
  color: #b9ddeb;
  background: #66d9ef;
}

#workspaces button.focused, #battery.charging, #battery.plugged {
  color: #daeeeb;
  background: #be9af7;
}

@keyframes blink {
  to {
    color: #070510;
    background: #ff5874;
  }
}

#battery.warning:not(.charging) {
  color: #daeeeb;
  background: #fd9720;
}


#battery.critical:not(.charging) {
  color: #daeeeb;
  background: #ff5874;;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
